@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: #f3ebf6; 
    color: #333;
}
 
#topo {
    background-color: #0b4d63;
    color: white;
    padding: 20px;
    font-weight: bold;
    font-family: "Limelight", sans-serif;
    font-style: normal;
}
 
#banner1 {
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: block; 
}

#banner1 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}
 
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
}
 
h2 { 
    color: #0b4d63; 
    text-transform: uppercase; 
    font-family: "Limelight", sans-serif;
    font-style: normal;
}
 
.bloco-texto {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    align-items: flex-start;
}
 
.text1 { 
    flex: 1; 
    line-height: 1.6; 
}
 
.img-lado {
    width: 40%;
    border-radius: 4px;
}
 
.tab-area {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 30px 0;
}
 
.quad1, .quad2, .quad3 {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
 
.quad1, .quad3 { 
    background-color: #9ebcd8; 
    color: #222; 
}
.quad2 { 
    background-color: #537d91; 
    color: white; 
}
 
.galeria {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 40px;
}
 
.foto {
    width: 23%;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    object-fit: cover;
}
 
#contato {
    margin-top: 50px;
    line-height: 2;
}
 
#rodape {
    background-color: #0b4d63;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 50px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

#contato p {
    display: flex;
    align-items: center; 
}

#contato i {
    color: #0b4d63; 
    margin-right: 10px; 
    width: 20px; 
    text-align: center;
}